.wrap{
  width: 1024px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(189,171,136,0.61);
  -moz-box-shadow: 0px 0px 16px 2px rgba(189,171,136,0.61);
  box-shadow: 0px 0px 16px 2px rgba(189,171,136,0.61);
  background-color: rgb(254, 250, 245);
  padding-bottom: 30px;
}

.category-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
}
h2{
  text-align: center;
  padding-top: 20px;
  color:  rgb(130, 111, 89)
}
a {
  text-decoration: none;
  color:  rgb(130, 111, 89);
  font-size: 20px;
  width: 22%;
  margin: 0 14px;
 
}
.genre-p:hover{
  background-color: rgb(247, 242, 235);
    box-shadow: 0 5px 20px rgb(227, 207, 184);
    transform: translateY(-3px);
}

.genre-p{
  padding: 20px 20px;
  text-align: center;
  font-weight: bolder;
  border: 3px solid rgb(227, 207, 184);
  box-shadow: 0 3px 20px  rgb(182, 160, 135);
}

.genre-p:active{
  background-color: rgb(247, 242, 235);
}