.rec-wrapper{
  width: 1024px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(189,171,136,0.61);
  -moz-box-shadow: 0px 0px 16px 2px rgba(189,171,136,0.61);
  box-shadow: 0px 0px 16px 2px rgba(189,171,136,0.61);
  background-color: rgb(254, 250, 245);
  padding-bottom: 30px;
}

.rec-movie{
  margin: 0 auto;
  border: 3px solid rgb(227, 207, 184);
  margin-bottom: 20px;
  width: 50%;
  border-radius: 3px;
  box-shadow: 0px 0px 16px 2px rgba(189,171,136,0.61);
}

.rec-movie h4{
  font-size: 20px;
  color:  rgb(130, 111, 89);
  text-align: center;
}
.rec-movie-container{
  width: 450px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.rec-movie-container p{
  margin-left: 30px;
  margin-right: 10px;
  font-size: 16px;
  color:  rgb(130, 111, 89);
  margin-top: 0px;
}

.rec-movie-container img{
  height: 300px;
  margin-left: 10px;
}

.rec-button{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  border: 3px solid rgb(227, 207, 184);
  background-color: rgb(254, 250, 245);
  font-size: 16px;
  color:  rgb(130, 111, 89);
  font-weight: bold;
  box-shadow: 0 3px 10px rgb(227, 207, 184);
  transition: all .3s;
}

.rec-button:hover {
  cursor: pointer;
  box-shadow: 0 5px 20px rgb(227, 207, 184);
  transform: translateY(-3px);
}

.rec-button:active{
  background-color: rgb(247, 242, 235);
  transform: translateY(-2px);
  
}
.rec-button:active,
.rec-button:visited,
.rec-button:focus {
outline: none;
}
.link{
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}